
<div class="container">
    <div class="jumbotron">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Qual o Curso vai Escolher ?
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Administração</a>
          <a class="dropdown-item" href="#">Ciências Biologicas</a>
          <a class="dropdown-item" href="#">Ciências Contábeis</a>
          <a class="dropdown-item" href="#">Direito</a>
          <a class="dropdown-item" href="#">Ed. Fisica</a>
          <a class="dropdown-item" href="#">Enfermagem</a>
          <a class="dropdown-item" href="#">Engenharia Civil</a>
          <a class="dropdown-item" href="#">Informatica</a>
          <a class="dropdown-item" href="#">Matematica</a>
          <a class="dropdown-item" href="#">Medicina</a>
          <a class="dropdown-item" href="#">Pedagogia</a>
          <a class="dropdown-item" href="#">Psicologia</a>
        </div>
      </div>

  <form>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">Nome</label>
        <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" value="Primeiro Nome" required>
        <div class="valid-feedback">
          Vamos la!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer02">Sobrenome</label>
        <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" value="Ultimos Nomes" required>
        <div class="valid-feedback">
          Ta Terminando!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServerUsername">Usuario</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
          </div>
          <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="@apelidio" aria-describedby="inputGroupPrepend3" required>
          <div class="invalid-feedback">
            Um Apelidio Bonitinho em !
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer03">Cidade</label>
        <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="City" required>
        <div class="invalid-feedback">
          Sua Cidade !
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationServer04">Estado</label>
        <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="State" required>
        <div class="invalid-feedback">
          Meu Estado de Coração é?
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationServer05">Cep da Minha Rua É</label>
        <input type="text" class="form-control is-invalid" id="validationServer05" placeholder="Zip" required>
        <div class="invalid-feedback">
          O meu Cep é aquele que esta na minha conta !
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
        <label class="form-check-label" for="invalidCheck3">
          Concordo com os termos e condições
        </label>
        <div class="invalid-feedback">
          Você deve concordar, antes de continuar.
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Concordo</button>
  </form>
</div>
</div>
